<p id="notice"><%= notice %></p>

<div class='container'>
  <div class='row'>
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Picture</th>
            <th>User Details </th>
            <th>Followers</th>
            <th>Following</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td class='picture'>
                <% if user.profile_picture == nil || user.profile_picture.empty? %>
                  <img class="profileimg" src="http://www.aheritier.net/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png">
                <% else %>
                  <img class="profileimg" src='<%= user.profile_picture %>'></td>
                <% end %>
              <td class='user-details'>
                  <span><b><%= user.full_name %></b></span>
                  <span><a href='#'>@<%= user.username %></a></span>
                  <p><i> <%= user.bio %> </i></p>
              </td>
              <td class='follows'><%= user.follows %></td>
              <td class='followers'><%= user.followed_by %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>