<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Profile picture:</strong>
  <%= @user.profile_picture %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Website:</strong>
  <%= @user.website %>
</p>

<p>
  <strong>Media:</strong>
  <%= @user.media %>
</p>

<p>
  <strong>Follows:</strong>
  <%= @user.follows %>
</p>

<p>
  <strong>Followed by:</strong>
  <%= @user.followed_by %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
