<!DOCTYPE html>
<html>
<head>
  <title>Instawonk (followerwonk for Instagram)</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->

      <%= image_tag("logo.png", class: "logo") %>

      <div class="navbar-header">
        <a class="navbar-brand" href="/"></img>InstaWonk</a>
      </div>

      <%= form_tag(users_path, :method => 'get', class: 'search_form', enforce_utf8: false) do %>
        <%= label_tag :search, "Search" %>
        <%= text_field_tag :search, params[:search], placeholder: "Search bios" %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <!-- dummy paths -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<%= yield %>

</body>
</html>
