<!DOCTYPE html>
<html>

<head>
	<%= display_meta_tags :site => 'Instawonk', :reverse => true %>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
			<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
			<%= csrf_meta_tags %>
</head>

<body>


	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->


			<div class="navbar-header">
				<a class="navbar-brand" href="/users"><img alt="Brand" src=" <%= image_path('logo-40.png') %>" width="140" height="20"></img></a>
			</div>

			<%= form_tag(users_path, :method => 'get', class: 'navbar-form navbar-right', enforce_utf8: false) do %>
				<!-- <%= label_tag :search, "Search" %> -->
				<%= text_field_tag :search, params[:search], placeholder: "Search bios", class: 'form-control', id: 'search' %>
					<%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
						<% end %>
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class='container'>
		<p id="notice">
			<%= notice %>
		</p>
		<%= yield %>
	</div>
	<footer class="footer">
		<div class="container">
			<p class="text-muted">DISCLAIMER: This site is in no way affiliated with Instagram except for the fact that we use their awesome API to provide you this service.</p>
		</div>
	</footer>

</body>

</html>
